<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生一覧</title>
</head>
<body>
<h1>受講生一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>フリガナ</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentsDetail : ${studentsList}">
    <td th:text="${studentsDetail.student.id}">1</td>
    <td>
    <a href="/student" th:href="@{/studentsDetail/{id}(id=${studentsDetail.student.id})}"
       th:text="${studentsDetail.student.name}">上路啓太</a>
    </td>
    <td th:text="${studentsDetail.student.hurigana}">アゲジケイタ</td>
    <td th:text="${studentsDetail.student.nickname}">ケータロス</td>
    <td th:text="${studentsDetail.student.mailaddress}">keitai8323@ddtthhh.co.jp</td>
    <td th:text="${studentsDetail.student.area}">柏市</td>
    <td th:text="${studentsDetail.student.age}">24</td>
    <td th:text="${studentsDetail.student.sex}">男性</td>
    <td th:text="${studentsDetail.student.remark}">特になし</td>


  </tr>
  </tbody>
</table>

<h1>受講生コース一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>コースID</th>
    <th>受講生ID</th>
    <th>コース名</th>
    <th>開始日</th>
    <th>終了日</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="course : ${studentsCoursesList}">
    <td th:text="${course.courseID}">1</td>
    <td th:text="${course.studentID}">A1</td>
    <td th:text="${course.courseName}">Java</td>
    <td th:text="${#dates.format(course.startDate, 'yyyy-MM-dd')}">2024-06-11</td>
    <td th:text="${#dates.format(course.endDate, 'yyyy-MM-dd')}">2024-09-11</td>
  </tr>
  </tbody>
</table>
</body>
</html>